
/* São Paulo */
path#path88.fil.str0{
  fill: black;
}
path#path88.fil.str0:hover{
  fill:#ff7f00;
}

/* Minas Geras */
path#path62.fil.str0{
  fill: black;
}
path#path62.fil.str0:hover{
  fill:#ff7f00;
}

/* Rondônia */
path#path44.fil.str0{
  fill: black;
}
path#path44.fil.str0:hover{
  fill:#ff7f00;
}

/* Tocantins */
path#path54.fil.str0{
  fill: black;
}
path#path54.fil.str0:hover{
  fill:#ff7f00;
}

/* Mato Grosso Do Sul */
path#path60.fil.str0{
  fill: black;
}
path#path60.fil.str0:hover{
  fill:#ff7f00;
}

/* Amapá */
path#path52.fil.str0{
  fill: black;
}
path#path52.fil.str0:hover{
  fill:#ff7f00;
}

/* Amazonas */
path#path48.fil.str0{
  fill: black;
}
path#path48.fil.str0:hover{
  fill:#ff7f00;
}

/* Rio Grande do Sul */
path#path66.fil.str0{
  fill: black;
}
path#path66.fil.str0:hover{
  fill:#ff7f00;
}

/* Paraná */
path#path64.fil.str0{
  fill: black;
}
path#path64.fil.str0:hover{
  fill:#ff7f00;
}

/* Bahia */
path#path68.fil.str0{
  fill: black;
}
path#path68.fil.str0:hover{
  fill:#ff7f00;
}

/* Pará */
path#path86.fil.str0{
  fill: black;
}
path#path86.fil.str0:hover{
  fill:#ff7f00;
}

/* Goias */
path#path58.fil.str0{
  fill: black;
}
path#path58.fil.str0:hover{
  fill:#ff7f00;
}

/* Mato Grosso */
path#path56.fil.str0{
  fill: black;
}
path#path56.fil.str0:hover{
  fill:#ff7f00;
}

/* Roraima */
path#path50.fil.str0{
  fill: black;
}
path#path50.fil.str0:hover{
  fill:#ff7f00;
}

/* Santa Catarina */
path#path94.fil.str0{
  fill: black;
}
path#path94.fil.str0:hover{
  fill:#ff7f00;
}

/* Espirito Santo */
path#path92.fil.str0{
  fill: black;
}
path#path92.fil.str0:hover{
  fill:#ff7f00;
}

/* Rio de Janeiro */
path#path90.fil.str0{
  fill: black;
}
path#path90.fil.str0:hover{
  fill:#ff7f00;
}

/* Pernambuco */
path#path82.fil.str0{
  fill: black;
}
path#path82.fil.str0:hover{
  fill:#ff7f00;
}

/* Alagoas */
path#path76.fil.str0{
  fill: black;
}
path#path76.fil.str0:hover{
  fill:#ff7f00;
}

/* Sergipe */
path#path78.fil.str0{
  fill: black;
}
path#path78.fil.str0:hover{
  fill:#ff7f00;
}

/* Maranhao */
path#path84.fil.str0{
  fill: black;
}
path#path84.fil.str0:hover{
  fill:#ff7f00;
}

/* Acre */
path#path46.fil.str0{
  fill: black;
}
path#path46.fil.str0:hover{
  fill:#ff7f00;
}

/* Rio Grande do Norte */
path#path74.fil.str0{
  fill: black;
}
path#path74.fil.str0:hover{
  fill:#ff7f00;
}

/* Ceara */
path#path72.fil.str0{
  fill: black;
}
path#path72.fil.str0:hover{
  fill:#ff7f00;
}

/* Piaui */
path#path70.fil.str0{
  fill: black;
}
path#path70.fil.str0:hover{
  fill:#ff7f00;
}

/* Paraiba */
path#path96.fil.str0{
  fill: black;
}
path#path96.fil.str0:hover{
  fill:#ff7f00;
}

/* DF */
path#path80.fil.str0{
  fill: black;
}
path#path80.fil.str0:hover{
  fill:#ff7f00;
}



